{% extends "layout.html"%}
{% block body%}
<div class="container">
  <h1>Fuel Quote Form</h1>
  <form action="" method ="POST">
    <div class="panel-body">
     <p><input type ="text" name="gallonsRequested" class="form-control" placeholder="Gallons Requested" required></p> 
    </div>
    <div>
    <p><output type = "text" name = "State">State: {{ data[0] }}</output></p>  
    </div>
    <div class="panel-body">
    <p><input type ="date" name="delivery-date" class="form-control" value="2019-01-01" min="2019-01-01" max="2019-12-31" ></p>  
    </div>
    <input type="submit" name="action" value = "Calculate"/>
  </form>
</div>
{% endblock%}
